html,
body,
#root {
  height: 100%;
  width: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% auto 10%;

    grid-template-areas:
          "logo head head head"
          "side1 main main side2"
          "footer footer footer footer";
    grid-gap: 1rem;
}

#logo-container {
    grid-area: logo;
    overflow:hidden;
    object-fit: contain;
}

#logo {
    height: 100%;
    display: block;
    width: auto; 
}

.dashboard {
    grid-area: main;
}

.header {
  grid-area: head;
}

.searchBar {
  grid-area: head;
  margin-right: 20px;
  margin-left: 20px;
}

.upload {
  height: 100px;
}

.maxButton {
  width: 100%;
}

/* .searchCard {
  height: 100px;
} */

.navBar {
  background-color: lightskyblue;
  
}
